<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    {{>header}}
    <section2>
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search Your keyword">
                <button>Search</button>
            </form>
        </div>
    </section2>

    <section3>
        <div class="property-head">
            <h1>Property Types</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. 
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. 
                Ipsum diam justo sed rebum vero dolor duo.
            </p>
        </div>

        <div class="property-icon">
            <div class="property-main">
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-apartment.png" alt="">
                    </div>
                    <h1>Apartment</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-building.png" alt="">
                    </div>
                    <h1>Building</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-condominium.png" alt="">
                    </div>
                    <h1>Garage</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-house.png" alt="">
                    </div>
                    <h1>House</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-housing.png" alt="">
                    </div>
                    <h1>Housing</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-luxury.png" alt="">
                    </div>
                    <h1>Luxury</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-neighborhood.png" alt="">
                    </div>
                    <h1>Home</h1>
                    <a href="#">123 Properties</a>
                </div>
                <div class="property-block">
                    <div class="p-image">
                        <img src="./Service-images/icon-villa.png" alt="">
                    </div>
                    <h1>Villa</h1>
                    <a href="#">123 Properties</a>
                </div>
        </div>
        </div>
    </section3>

    <section4>
        <div class="Property-T">
            <div class="p-image1">
                <img src="./images/about.jpg" alt="">
            </div>
            <div class="property-pera">
                <h1>
                    #1 Place To Find The Perfect Property
                </h1>
                <p>
                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                </p>
                <ul>
                    <li><i class="ri-arrow-right-circle-line"></i>Tempor erat elitr rebum at clita</li>
                    <li><i class="ri-arrow-right-circle-line"></i>Aliqu diam amet diam et eos</li>
                    <li><i class="ri-arrow-right-circle-line"></i>Clita duo justo magna dolore erat amet</li>
                </ul>
                <button>Read More</button>
            </div>
        </div>
    </section4>

    <section5>
        <div class="property-list">
            <div class="div1">
                <h1>Property Listing</h1>
                <p>Eirmod sed ipsum dolor sit rebum labore magna erat. 
                    Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.
                </p>
            </div>
            <div class="div2">
                <button>Featured</button>
                <button>For sell</button>
                <button>For rent</button>
            </div>
        </div>
    </section5>

    <section6>
        <div class="p-list-main">
            <div class="p-list">

                <!--IMAGE-1-->
    
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-1.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
    
                <!--IMAGE-2-->
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-2.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
    
                <!--IMAGE-3-->
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-3.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
    
                <!--IMAGE-4-->
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-4.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
    
                <!--IMAGE-5-->
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-5.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
    
                <!--IMAGE-6-->
                <div class="p-image2">
                    <div class="image-list">
                        <img src="./Property-images/property-6.jpg" alt="">
                    </div>
                    <p class="p1">For rent</p>
                    <p class="p2">Villa</p>
                    <p class="price">$ 12,000,00</p>
                    <h2>Golden Urban House For Sell</h2>
                    <p class="location"><i class="ri-map-pin-line"></i> street-1,Jaipur</p>
                    <div class="image-footer">
                        <p class="p3">Size</p>
                        <p class="p3">3 Bed</p>
                        <p class="p3">2 Bath</p>
                    </div>
                </div>
            </div>
            <div class="btn1"><button>Browse more property</button></div>
        </div>
    </section6>

    {{>footer}}

    <script src="script.js"></script>
</body>
</html>