<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul style="padding:10px; display:flex; justify-content:space-evenly; color: red; margin-bottom:30px; width:100%; background-color:black";>
            <li style="font-size: 20px;">About</li>
            <li style="font-size: 20px;">Home</li>
        </ul>
    </div>
</body>
</html>