<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section1>
        <div class="main-1">
            <div class="navbar">
                    <h1>
                        <i class="ri-building-fill"></i>
                        Home
                    </h1>
                    <ul class="ul">
                        <li><a href="/" class="anchor">Home</a></li>
                        <li><a href="./about.hbs" class="anchor">About</a></li>
                        <li><a href="#" class="anchor">Property</a></li>
                        <li><a href="#" class="anchor">Pages</a></li>
                        <li><a href="#" class="anchor">Contact</a></li>
                    </ul>
                    <i class="ri-menu-line btn" id="icon"></i>
            </div>
            <div class="intro">
                <h1>Find A <span>Perfect Home</span> To Live With Your Family</h1>
                <p>Vero elitr justo clita lorem. Ipsum dolor at sed stetsit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                <button>{{btnName}}</button>
            </div>
            <div class="intro-img">
                <img src="./images/carousel-1.jpg" alt="">
            </div>
        </div>
    </section1>
    <script src="script.js"></script>
</body>
</html>